#decor-container {
    background-color: transparent;
    aspect-ratio: 6/9;
    position: relative;
}

#decor-container {
    --sphere-color: linear-gradient(90deg, 
        rgba(52,191,154,1) 25%,
        rgba(54,117,217,1) 75%);
    --disc-background-color: rgb(156,225,236);
    --disc-background-gradient: radial-gradient(
        rgba(156,225,236,1) 10%, 
        rgba(131,181,161,0.25) 36%, 
        rgba(156,225,236,0.9) 63%,
        rgba(131,181,161,0.2) 80%, 
        rgba(156,225,236,1) 100%);
    /* Line Gradient is in the SVG because thats... how it works, I guess... */

    --base-z: 10;
    z-index: var(--base-z);
}

/* Orbiting Spheres around top or bottom orbit */
.sphere {
    position: absolute;

    width: clamp(5%,10%, 5vw);
    aspect-ratio: 1/1;
    clip-path: circle(50%);
    background: var(--sphere-color);
    animation: orbitPath 30s infinite linear;
    offset-rotate: 90deg;

    --offset-percent: 0%;
    --offset-deg: 0deg;

    z-index: calc(var(--base-z) + 5);
}

.topOrbit {
    offset-path: ellipse( 30% 5% at 50% 20% );
}

.bottomOrbit {
    offset-path: ellipse( 30% 5% at 50% 80% );
}

@keyframes orbitPath {
    from {
        offset-distance: var(--offset-percent);
        filter: hue-rotate(var(--offset-deg));
    }

    to {
        offset-distance: calc(var(--offset-percent) + 100%);
        filter: hue-rotate(calc(var(--offset-deg) + 360deg));
    }
}

/* Lines Rotate alongside spheres */
.line {
    /* Position on container */
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;

    animation: rotate3D 30s infinite alternate linear;
    --offset-deg: 0deg;
    filter: blur(2px);

    z-index: calc(var(--base-z) + 1);
}

@keyframes rotate3D {
    from {
        transform: rotate3d(0,1,0,var(--offset-deg));
    }
    to {
        transform: rotate3d(0,1,0,calc(var(--offset-deg) + 360deg));
    }
}

/* Discs that spheres lie upon */
.disc {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(156,225,236);
    background: radial-gradient(
        rgba(156,225,236,1) 10%, 
        rgba(131,181,161,0.25) 36%, 
        rgba(156,225,236,0.9) 63%, 
        rgba(131,181,161,0.2) 80%, 
        rgba(156,225,236,1) 100%);
    z-index: calc(var(--base-z) + 2);
}

#top-disc {
    clip-path: ellipse( 30% 5% at 50% 20% );
    filter: opacity(0.7) blur(12px);
}

#bottom-disc {
    clip-path: ellipse( 30% 5% at 50% 80% );
    filter: opacity(0.7) blur(12px) hue-rotate(45deg);
}

