/* -- Layout for the Home Page -- */


/* Layout content - Decor Left, Title Right */
#page {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: clamp(2%, 25px, 5%);

    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: clamp(1em, 2%, 3em);
    flex-flow: row wrap;
}

#title-container {
    flex: 0 1 50%;
}

/* Navigation Menu needs space */
#page {
    padding-bottom: 3.5em;
}