@import url(../index.css);

/* Decoration */ 
.about {
  color: var(--light-outline-color);
}

.about a {
  text-decoration: none;
  color: var(--light-emphasis-color);
  font-weight: bold;
}

.about .emote{
  font-size: 24px;
}

.about p {
  background-color: var(--light-contrast-color-trans);
  padding: 5px;
  border-radius: 5px;
}

img {
  padding: 10px;
  border-radius: 25px;
  border: 5px inset var(--light-outline-color);
  background-color: var(--light-contrast-color);
}

/* Position */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.imgWrap {
  flex: 1 1 350px;
}

img {
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
}

.about {
  flex: 2 1 400px;
}
