@import url(../index.css);

.landing{
  margin: 10px max(2%,2em);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--light-outline-color);
  width: auto;
}

.left p, .left h1, .left h2{
  margin: 5px 0px;
}

.color {
  color: var(--light-decorate-color);
}

.counterDeco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.counterDeco p {
  margin-right: 1rem;
}