@import url(../index.css);

/* Top Landing Section*/
.color {
  color: var(--light-decorate-color);
}

.left p,
.left h1,
.left h2 {
  margin: 5px 0px;
}

.landing {
  color: var(--light-outline-color);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin: max(5%,20px) max(2%, 2rem);
}

.counterDeco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.counterDeco p {
  margin-right: 1em; /* would use gap but that messes up when wrapped */
}

.counterDeco + p {
 margin-top: 20px;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}