@import url(../index.css);

.CounterImage {
  background-color: var(--light-contrast-color);
  border: 5px inset var(--light-outline-color);
  border-radius: 15px;
  padding: 10px;

  transition: opacity 1s cubic-bezier(0.74, 0.23, 0.89, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;

  width: min(calc(100% - 30px), 300px);
  aspect-ratio: 1/1;
}

.ImageWrapper {
  width: min(calc(100% - 30px), 300px);
  aspect-ratio: 1/1;

  position: relative;
}
