@import url(https://fonts.googleapis.com/css?family=Martian+Mono);
@import url(../index.css);


/* Center inner text by making each entry a flexbox */
.Entry {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.Entry p {
  margin: 0px;
}

/* Align the counter to only show 1 Entry */
.Entry {
  height: calc(var(--font-height) + var(--font-hang-size));
  width: 100%;
}
.Counter {
  font-weight: bold;
  font-size: var(--font-height);
  width: min(90vw max-content);
  height: calc( var(--font-height) + var(--font-hang-size));
  overflow: hidden;
}
.Entries {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Animate Scrolling Effect */
.Entries {
 transition-property: margin-top;
 transition-duration: 1s;
 transition-timing-function: cubic-bezier(.57,.9,.78,1.29); /* overshoots */
}

/* Beautification */
.Counter {
  font-family: "Martian Mono", monospace;
  padding: calc(var(--font-hang-size) * 1/3) 5px;
  background-color: var(--light-emphasis-color);
  color: var(--light-outline-color);
  border-radius: 3px;
  border: 5px inset var(--light-contrast-color);
}

.Entry p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}